{% extends "base.html" %}

{% block title %}Admin Bookings{% endblock %}

{% block content %}

<h2 style="text-align:center;">🎟 Booking Overview</h2>

<div class="movie-container">

{% for movie in movies %}
    <div class="movie-card">
        <img src="{{ url_for('static', filename='uploads/' + (movie.poster if movie.poster else 'default.png')) }}">
        <h3 class="movie-title">{{ movie.name }}</h3>
        <p>{{ movie.genre }} | {{ movie.duration }}</p>

        <button onclick="location.href='/admin-bookings/{{ movie.id }}'">
            View Seats
        </button>
    </div>
{% endfor %}

</div>

{% endblock %}