{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center;">🛠 Admin Panel</h2>

<form method="POST" action="/add-movie" enctype="multipart/form-data">

    <input name="name" placeholder="Movie Name" required>
    <input name="genre" placeholder="Genre" required>
    <input name="duration" placeholder="Duration" required>
    <input type="file" name="poster">

    <button>Add Movie</button>
</form>

<table class="admin-table">
<tr>
<th>Name</th><th>Genre</th><th>Duration</th><th>Poster</th><th>Actions</th>
</tr>

{% for m in movies %}
<tr>
<td>{{ m.name }}</td>
<td>{{ m.genre }}</td>
<td>{{ m.duration }}</td>
<td>
    {% if m.poster %}
    <img src="/static/uploads/{{ m.poster }}" width="60">
    {% endif %}
</td>

<td>
    <a href="/delete-movie/{{ m.id }}">Delete</a>

    <form method="POST" action="/edit-movie/{{ m.id }}">
        <input name="name" placeholder="New Name">
        <input name="genre" placeholder="New Genre">
        <input name="duration" placeholder="New Duration">
        <button>Update</button>
    </form>
</td>
</tr>
{% endfor %}

</table>

{% endblock %}