{% extends "base.html" %}

{% block title %}Admin Bookings{% endblock %}

{% block content %}

<h2 style="text-align:center;">🎬 Admin - View Shows</h2>

<div class="movie-container">

{% for item in data %}
    <div class="movie-card">

        <img src="/static/uploads/{{ item.poster or 'default.png' }}">

        <h3>{{ item.name }}</h3>
        <p>{{ item.genre }} | {{ item.duration }}</p>

        {% if item.show_id %}
            <p>📅 {{ item.show_date }}</p>
            <p>⏰ {{ item.show_time }}</p>
            <p>🎟 {{ item.total or 0 }} bookings</p>

            <button onclick="location.href='/admin-bookings/{{ item.show_id }}'">
                View Seats
            </button>

            <button onclick="confirmDelete({{ item.show_id }})" class="danger-btn">
                Delete Show
            </button>
        {% else %}
            <p>No shows added</p>
        {% endif %}

    </div>
{% endfor %}

</div>

{% endblock %}