{% extends "base.html" %}

{% block title %}Admin Bookings{% endblock %}

{% block content %}

<h2 style="text-align:center;">🎬 Select Movie</h2>

<div class="movie-container">

{% for m in movies %}
    <div class="movie-card">

        <!-- POSTER -->
        <img src="/static/uploads/{{ m[4] or 'default.png' }}">

        <!-- TITLE -->
        <h3 class="movie-title">{{ m[1] }}</h3>

        <!-- INFO -->
        <p>{{ m[2] }} | {{ m[3] }}</p>
        <p>🎟 {{ m[5] }} bookings</p>

        <!-- BUTTON -->
        <button onclick="location.href='/admin-bookings/{{ m[0] }}'">
            View Seats
        </button>

    </div>
{% endfor %}

</div>

{% endblock %}