<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}Movie Booking{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">

    <h1 class="logo">🎬 Movie Booking</h1>

    <div class="nav-right">

        <!-- NOT LOGGED IN -->
        {% if not session.get('username') and not session.get('admin') %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/admin-login">Admin</a>
            <button id="theme-toggle">🌙</button>
        {% endif %}

        <!-- USER LOGGED IN -->
        {% if session.get('username') %}
        <div class="nav-group">

        <div class="dropdown">
            <button class="dropbtn">👤 {{ session["username"] }} ▼</button>

            <div class="dropdown-content">
                <a href="/movies">Movies</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <button id="theme-toggle">🌙</button>

        </div>
        {% endif %}

        <!-- ADMIN LOGGED IN -->
        {% if session.get('admin') %}
        <div class="nav-group">

                <div class="dropdown">
            <button class="dropbtn">Admin Panel ⬇</button>

            <div class="dropdown-content">
                <a href="/admin">Dashboard</a>
                <a href="/admin-bookings">Bookings</a>                    
                <a href="/logout">Logout</a>
            </div>
        </div>

        <button id="theme-toggle">🌙</button>

        </div>

        {% endif %}

    </div>

</nav>

<!-- CONTENT -->
<div class="page-content">
    {% block content %}
    {% endblock %}
</div>

<!-- FOOTER -->
<footer class="footer">
    <p>© 2026 Movie Ticket Booking System</p>
</footer>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>