{% extends "base.html" %}

{% block title %}Movies{% endblock %}

{% block content %}

<h2 class="page-title">🎬 Now Showing</h2>

<div class="movie-container">

{% if movies %}
    {% for movie in movies %}
        <div class="movie-card">

            <img 
                src="{{ url_for('static', filename='uploads/' + (movie.poster if movie.poster else 'default.png')) }}" 
                class="movie-poster"
            >

            <div class="movie-info">
                <h3>{{ movie.name }}</h3>
                <p>{{ movie.genre }}</p>
                <p>{{ movie.duration }}</p>

                <button onclick="location.href='/shows/{{ movie.id }}'">
                    Book Now
                </button>
            </div>

        </div>
    {% endfor %}
{% else %}
    <p style="text-align:center;">Movies will be here soon 🎬</p>
{% endif %}

</div>

{% endblock %}